html {
  background-color: lightgreen;
}
body {
  height: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 1000px;
  height: 600px;
  outline: 5px solid black;
  background-color: white;
  display: flex;
  justify-content:center;
}
.heading{
   display: flex;
  justify-content:center;

}
input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding-inline-start: 20px;
  border: 2px solid lightslategrey;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.content{
  
}
